/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Serif', serif;
}

.slider-text {
    bottom: 200px;
}

.btn-color {
    background-color: #289BDE;
    color: aliceblue;
    font-size: 20px;
}

.cover-image-bg {
    background-color: #1D1D1D;
}

.images-cover {
    object-fit: cover;
    opacity: 0.5;
}

.margin {
    margin-top: 128px;
}